body{
    overflow: hidden;
}
.base {
    height:auto;
    max-height:100%;
    overflow:auto;   
}

.base .Brief{
    overflow:hidden;   
    z-index: 1;
    margin-left:0;
    padding: 0;
} 
 
 .base .Brief .word{
    position:absolute;
    width:100%;
    height:100%;
    top:13%;
    left:7%;
    z-index: 2;
    color: #FFF;
    font-size: 4rem;
    width:90%;
    
 }


.base .info{
    overflow: hidden;
    position: relative;
    padding: 0;
}

.base .info  .upper-head{
    background-image: linear-gradient(to right ,#97004c, #33001a);
    height: max-content;
    padding: 10px;
    font-size: 2rem;
    color:#FFF;
    margin-bottom: 100px;
}



.base .info .form-signin{
    width:75%;
    position: absolute;
    
    left: 10%;
}
.base .info .form-signin .title1{
    font-size: 25px;

}
.base .info .form-signin .title1 span{
    font-weight: bold;
    font-size: 42px;
}
.base .info .form-signin .title2{
    font-size:20px;
    margin-bottom: 30px;
}
.base .info .form-signin input{
    margin-bottom: 30px
}

.base .info .form-signin .checkbox .cycle{
    border:5px solid #33001a
}

.base .info .form-signin button{
    background-image: linear-gradient(to right ,#97004c, #33001a);
    widows: 60%;
    color:#FFF;
    font-size:25px;
    border-radius: 15px;
}